{% extends 'base.twig' %}

{% block main %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{ entry.title }}</h1>
            <p class="lead text-muted">{{ entry.description }}</p>
        </div>
    </section>

    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-8">
                {% for block in entry.contentBlocks.all() %}
                    {% if block.type == 'imageBlock' %}
                        {% set image = block.image.one() %}
                        {% if image %}
                            {% set options = {
                                mode: 'fit',
                                width: 750
                            } %}
                            <img src="{{ image.getUrl(options) }}" alt="" class="img-fluid mx-auto d-block">
                        {% endif %}
                    {% elseif block.type == 'richTextBlock' %}
                        <div class="rich-text">
                            {{ block.text|raw }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
